.product {
  position: fixed;
  top: 90%;
  width: 0;
  height: 96%;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  z-index: 3;
  display: none;
  // opacity: 0;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-out;
  background-size: cover !important;
  border-radius: 1rem;
  // @include shadow(0.5rem);
  .product-nav {
    box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
    border: 1px solid #979797;
    margin: 10px;
    ul {
      border-radius: 00.5rem;
      background-color: rgba(255, 255, 255, 0.568);
      backdrop-filter: blur(10px);
      display: flex;
      li {
        padding: 0.5rem;
        border-right: 1px solid #e3e3e3;
        transition: all 0.5s ease;
      }
      li:last-of-type {
        border-right: none;
      }
    }
    .close {
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #efeeee70;
      box-shadow: 6px 6px 16px #d1cdc780,
        -6px -6px 16px rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(75, 74, 74, 0.514);
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
  .details,
  .summary,
  .reference {
    p {
      background-color: rgba(255, 255, 255, 0.3);
      padding: 00.5rem;
      border-radius: 0.7rem;
    }
    backdrop-filter: blur(10px);
    width: 100%;
    display: none;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 00.5rem;
    overflow: auto;
    margin-bottom: 2rem !important;
    .properties {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.4rem;
      .property {
        padding: 0.5rem;
        border-radius: 0.8rem;
        margin-right: 00.3rem;
        background-color: white;
        border: 1px solid rgba(219, 219, 219, 0.9);
      }
      .value {
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: white;
        color: green;
        border: 1px solid rgba(219, 219, 219, 0.9);
      }
      .round {
        border-radius: 50%;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
    }
    transition: all 0.5s ease-in;
  }
  .reference,
  .summary {
    max-width: 500px;
    padding: 1.3rem;
    line-height: 1.6rem;
  }
  .reference a {
    background-color: rgba(255, 255, 255, 0.466);
    margin: 1rem;
    padding: 00.5rem;
    text-decoration: none;
    border-radius: 00.5rem;
  }
  .title {
    font-weight: bold;
    position: absolute;
    color: green;
    background-color: white;
    padding: 0.4rem;
    margin: 0.4rem;
    font-size: 1.1rem;
    bottom: 0;
    margin-top: 1rem;
  }
}
.animate {
  top: 3%;
  width: 88%;
  // height: 85%;
}
@media only screen and (min-width: 768px) {
  .product {
    height: 85%;
  }
}
