@import "./reset.scss";
@mixin shadow($padding) {
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: $padding;
}
body {
  background-color: #efeeee;
  text-align: center;
  font-family: "Roboto";
  transition: all 0.5s ease-in;
  scroll-behavior: smooth;
}
nav {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #efeeee;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin-bottom: 1rem;
  display: flex;
  .title {
    h1 {
      color: green;
      font-weight: bold;
      padding: 0.4rem;
      padding-right: 0;
      // font-family: "Roboto Condensed", sans-serif;
      font-family: "Gluten", cursive;
      max-width: 200px;
      text-align: left;
      line-height: 1.2rem;
    }
    img {
      // background-color: black;
      color: palegreen;
      font-size: 2rem;
      // font-weight: bold;
    }
    display: flex;
    align-items: center;
  }
  .coverage {
    span {
      @include shadow(0.5rem);
      margin: 0.3rem;
      font-weight: bold;
    }
  }
  .menu {
    margin-left: auto;
    padding: 00.4rem;
  }
  ul {
    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #efeeee;
    width: 100%;
    box-shadow: 0px 3px 4px 2px rgba(0, 128, 0, 0.609);
    transition: all 0.5s ease;
    li {
      padding: 10px;
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: green;
      }
    }
  }
}

main {
  transition: all 0.5s ease;
  text-align: left;
  .featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: bold;
      font-size: 1.5rem;
      background-color: rgba(152, 251, 152, 0.1);
      padding: 1rem;
    }
    .featured-items {
      transition: all 0.5s ease;
      h2 {
        font-size: 1.2rem;
        padding-bottom: 0.8rem;
        font-weight: bold;
        background-color: white;
        margin-bottom: 0.4rem;
        width: fit-content;
        border-radius: 00.3rem;
        padding: 0.3rem;
        box-shadow: 6px 6px 16px #d1cdc780,
          -6px -6px 16px rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 1.2rem;
      }
      padding: 0.8rem;
      background-color: #efeeee;
      .item {
        height: fit-content;
        max-width: 280px;
        margin: 0.8rem 0;
        padding: 0.5rem;
        background-color: white;
        @include shadow(0.5rem);
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          @include shadow(0);
        }
        .properties {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.4rem 0;
          .property {
            padding: 0.5rem;
            border-radius: 0.8rem;
            margin-right: 00.3rem;
            background-color: #e3e3e3a1;
            // font-weight: bold;
          }
          .value {
            padding: 0.5rem;
            border-radius: 0.8rem;
            background-color: #e3e3e3a1;
            color: green;
          }
          .round {
            border-radius: 50%;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
          }
        }
        transition: all 0.5s ease;
      }
      .item:hover {
        transform: scale(1.03);
      }
    }
    .showAllButton {
      color: rgba(10, 10, 58, 0.7);
      background-color: rgba(255, 255, 255, 0.39);
      font-weight: 700;
      padding: 0.8rem;
      margin: auto;
      margin-bottom: 2rem;
      border-radius: 00.8rem;
      box-shadow: 6px 6px 16px #d1cdc780,
        -6px -6px 16px rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(61, 61, 61, 0.2);
    }
  }
  section {
    position: relative;
    @include shadow(1rem);
    transition: all 0.5s ease;
    h1 {
      font-weight: bold;
      font-size: 1.5rem;
      background-color: rgba(152, 251, 152, 0.1);
      padding: 1rem;
    }
    display: none;
    opacity: 0;
  }
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

header {
  background-color: rgba(152, 251, 152, 0.342);
  padding: 1rem;
  h1 {
    text-align: center !important;
    line-height: 2rem;
    font-size: 1.7rem;
    margin: 00.5rem auto;
    font-family: "Roboto Slab", serif;
  }
  p {
    margin: 1rem 0;
    line-height: 1rem;
  }
}

small {
  color: rgba(0, 0, 0, 0.644);
}
form {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  input {
    padding: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 50%;
  }
  button {
    border: none;
    background-color: white;
    margin-left: -3em;
  }

  //search
  ul {
    z-index: 1;
    position: absolute;
    top: 2rem;
    border-radius: 00.8rem;
    box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 40%;
    background-color: rgba(255, 255, 255, 0.541);
    li {
      padding: 00.5rem;
      border-radius: 00.8rem;
      background-color: #eeeeee;
    }
    li:nth-of-type(odd) {
      background-color: #dbdbdb;
    }
  }
}
//product overlay
@import "./product.scss";
.show {
  display: flex;
}
.show2 {
  display: block !important;
}
.opac {
  opacity: 1 !important;
}
.active {
  border: 1px solid seagreen;
  border-right: 1px solid seagreen !important;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  main {
    .featured {
      .featured-items {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
        .item {
          margin: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  nav {
    .title {
      h1 {
        max-width: 500px;
        letter-spacing: 0.1rem;
      }
      i {
        font-size: 3rem;
      }
    }
    .menu {
      display: none;
    }
    ul {
      .close {
        display: none;
      }
      margin-left: auto;
      position: relative;
      display: flex;
      opacity: 1;
      flex-direction: row;
      background-color: #efeeee;
      width: auto;
      box-shadow: 0px 0px 0px 0px;
      li {
        a {
          padding: 10px;
          text-decoration: none;
          color: black;
        }
        a:hover {
          color: green;
        }
      }
    }
  }
  main {
    .featured {
      .featured-items {
        display: flex;
        .item {
          margin: 1rem;
          padding: 1rem;
          .properties {
            padding: 0.3rem;
          }
        }
      }
    }
  }
}
