@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #efeeee;
  text-align: center;
  font-family: "Roboto";
  transition: all 0.5s ease-in;
}

b {
  font-weight: bold;
}

nav {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #efeeee;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin-bottom: 1rem;
  display: flex;
}
nav .title {
  display: flex;
  align-items: center;
}
nav .title h1 {
  color: green;
  font-weight: bold;
  padding: 0.4rem;
  padding-right: 0;
  font-family: "Gluten", cursive;
  max-width: 200px;
  text-align: left;
  line-height: 1.2rem;
}
nav .title img {
  color: palegreen;
  font-size: 2rem;
}
nav .coverage span {
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: 0.5rem;
  margin: 0.3rem;
  font-weight: bold;
}
nav .menu {
  margin-left: auto;
  padding: 0.4rem;
}
nav ul {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #efeeee;
  width: 100%;
  box-shadow: 0px 3px 4px 2px rgba(0, 128, 0, 0.609);
  transition: all 0.5s ease;
}
nav ul .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
nav ul li {
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: green;
}

main {
  transition: all 0.5s ease;
  text-align: left;
}
main .featured {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .featured h1 {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgba(152, 251, 152, 0.1);
  padding: 1rem;
}
main .featured .featured-items {
  transition: all 0.5s ease;
  padding: 0.8rem;
  background-color: #efeeee;
}
main .featured .featured-items h2 {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  background-color: white;
  margin-bottom: 0.4rem;
  width: fit-content;
  border-radius: 0.3rem;
  padding: 0.3rem;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
}
main .featured .featured-items .item {
  height: fit-content;
  max-width: 280px;
  margin: 0.8rem 0;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: 0.5rem;
  transition: all 0.5s ease;
}
main .featured .featured-items .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: 0;
}
main .featured .featured-items .item .properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem 0;
}
main .featured .featured-items .item .properties .property {
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-right: 0.3rem;
  background-color: #e3e3e3a1;
}
main .featured .featured-items .item .properties .value {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: #e3e3e3a1;
  color: green;
}
main .featured .featured-items .item .properties .round {
  border-radius: 50%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
main .featured .featured-items .item:hover {
  transform: scale(1.03);
}
main .featured .showAllButton {
  color: rgba(10, 10, 58, 0.7);
  background-color: rgba(255, 255, 255, 0.39);
  font-weight: 700;
  padding: 0.8rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(61, 61, 61, 0.2);
}
main section {
  position: relative;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.2rem;
  padding: 1rem;
  transition: all 0.5s ease;
  display: none;
  opacity: 0;
}
main section h1 {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #d9f2d9;
  padding: 1rem;
}
main .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

header {
  background: #98fb9857 url("../assets/abu_logo.png") no-repeat;
  background-size: 5rem;
  background-position: top;
  padding: 1rem;
}
header h1 {
  text-align: center !important;
  line-height: 2rem;
  font-size: 1.7rem;
  margin: 0.5rem auto;
  margin-top: 4rem;
  font-family: "Roboto Slab", serif;
}
header p {
  margin: 1rem 0;
  line-height: 1rem;
}

small {
  color: rgba(0, 0, 0, 0.644);
}

form {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
form input {
  padding: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 50%;
}
form button {
  border: none;
  background-color: white;
  margin-left: -3em;
  width: 1.5rem;
}
form ul {
  z-index: 1;
  position: absolute;
  top: 2rem;
  border-radius: 0.8rem;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 40%;
  background-color: rgba(255, 255, 255, 0.541);
}
form ul li {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: #eeeeee;
}
form ul li:nth-of-type(odd) {
  background-color: #dbdbdb;
}

#about,
#contact {
  max-width: 600px;
  margin: 1.5rem auto;
  line-height: 1.3rem;
}
#about h1,
#contact h1 {
  text-align: center;
}
#about .zaks,
#about .akeem,
#contact .zaks,
#contact .akeem {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
#about .zaks img,
#about .akeem img,
#contact .zaks img,
#contact .akeem img {
  width: 25%;
  border-radius: 50%;
}
#about .zaks .details *,
#about .akeem .details *,
#contact .zaks .details *,
#contact .akeem .details * {
  display: block;
  text-decoration: none;
  color: black;
  margin: 0.5rem;
}
#about .zaks .details a,
#about .akeem .details a,
#contact .zaks .details a,
#contact .akeem .details a {
  display: flex;
  align-items: center;
}
#about .zaks .details h2,
#about .akeem .details h2,
#contact .zaks .details h2,
#contact .akeem .details h2 {
  text-transform: uppercase;
}
#about .zaks .details img,
#about .akeem .details img,
#contact .zaks .details img,
#contact .akeem .details img {
  width: 20px;
}
#about .zaks a:first-of-type::before,
#about .akeem a:first-of-type::before,
#contact .zaks a:first-of-type::before,
#contact .akeem a:first-of-type::before {
  content: "💌 send email";
}
#about .zaks,
#contact .zaks {
  background: #e2e9e2;
  border-radius: 0.5rem 0.5rem 0 0;
}
#about .zaks a:last-of-type,
#contact .zaks a:last-of-type {
  margin: 0;
  margin-top: -0.5rem;
}
#about .akeem,
#contact .akeem {
  background: #e6e6e6;
  border-radius: 0 0 0.5rem 0.5rem;
}

footer {
  margin: 0.7rem auto;
  width: fit-content;
  padding: 0.5rem;
  text-shadow: 30px -20px 3px #ff7b00;
}
footer .love {
  text-shadow: 0 20px 4px red;
}

.product {
  position: fixed;
  top: 90%;
  width: 0;
  height: 96%;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  z-index: 3;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-out;
  background-size: cover !important;
  border-radius: 1rem;
}
.product .product-nav {
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid #979797;
  margin: 10px;
}
.product .product-nav ul {
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.568);
  backdrop-filter: blur(10px);
  display: flex;
}
.product .product-nav ul li {
  padding: 0.5rem;
  border-right: 1px solid #e3e3e3;
  transition: all 0.5s ease;
}
.product .product-nav ul li:last-of-type {
  border-right: none;
}
.product .product-nav .close {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #efeeee70;
  box-shadow: 6px 6px 16px #d1cdc780, -6px -6px 16px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(75, 74, 74, 0.514);
  padding: 0.5rem;
  border-radius: 50%;
}
.product .details,
.product .summary,
.product .reference {
  backdrop-filter: blur(5px);
  width: 100%;
  display: none;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: auto;
  margin-bottom: 2rem !important;
  transition: all 0.5s ease-in;
}
.product .details p,
.product .summary p,
.product .reference p {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  border-radius: 0.7rem;
}
.product .details .properties,
.product .summary .properties,
.product .reference .properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4rem;
}
.product .details .properties .property,
.product .summary .properties .property,
.product .reference .properties .property {
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-right: 0.3rem;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 0.9);
}
.product .details .properties .value,
.product .summary .properties .value,
.product .reference .properties .value {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: white;
  color: green;
  border: 1px solid rgba(219, 219, 219, 0.9);
}
.product .details .properties .round,
.product .summary .properties .round,
.product .reference .properties .round {
  border-radius: 50%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.product .reference,
.product .summary {
  max-width: 500px;
  padding: 1.3rem;
  line-height: 1.6rem;
}
.product .reference a {
  background-color: rgba(255, 255, 255, 0.466);
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
}
.product .title {
  font-weight: bold;
  position: absolute;
  color: green;
  background-color: white;
  padding: 0.4rem;
  margin: 0.4rem;
  font-size: 1.1rem;
  bottom: 0;
  margin-top: 1rem;
}

.animate {
  top: 3%;
  width: 88%;
}

@media only screen and (min-width: 768px) {
  .product {
    height: 85%;
  }
}
.show {
  display: flex;
}

.show2 {
  display: block !important;
}

.opac {
  opacity: 1 !important;
}

.active {
  border: 1px solid seagreen;
  border-right: 1px solid seagreen !important;
  font-weight: bold;
}

.i {
  width: 2rem;
}

@media only screen and (min-width: 600px) {
  main .featured .featured-items {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .featured .featured-items .item {
    margin: 0.5rem;
  }
}
@media only screen and (min-width: 992px) {
  nav .title h1 {
    max-width: 500px;
    letter-spacing: 0.1rem;
  }
  nav .title i {
    font-size: 3rem;
  }
  nav .menu {
    display: none;
  }
  nav ul {
    margin-left: auto;
    position: relative;
    display: flex;
    opacity: 1;
    flex-direction: row;
    background-color: #efeeee;
    width: auto;
    box-shadow: 0px 0px 0px 0px;
  }
  nav ul .close {
    display: none;
  }
  nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  nav ul li a:hover {
    color: green;
  }

  main .featured .featured-items {
    display: flex;
  }
  main .featured .featured-items .item {
    margin: 1rem;
    padding: 1rem;
  }
  main .featured .featured-items .item .properties {
    padding: 0.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
